@{
    ViewData["Title"] = "Home Page";
}
<div class="container my-5">
    <div class="p-4 bg-light rounded">
        <h1 class="display-4">GESTION STOCK</h1>
        <p class="lead">Gestion de stock d’un magasin des matériels informatiques</p>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
</div>

<h3 class="display-4 text-center mb-4">Réalisé Par:</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="card p-3 text-center">
                <h5>Abir Chouchene</h5>
            </div>
        </div>
    </div>
</div>